html, body, header, nav, footer, section, div, span, h1, h2, h3, h4, p, a, blockquote, cite, img, ol, ul, li, form, fieldset, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: normal; }

html {
  width: 100vw;
  height: 100%;
  background-color: #232323; }

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #63c3cf; }

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #63c3cf; }

.navBar {
  display: flex;
  width: 100%;
  height: 65px;
  background-color: #060e11; }
  .navBar .navBar-brand {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 3;
    height: 100%; }
  .navBar .navBar-center {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 5;
    height: 100%; }
  .navBar .navBar-Right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 2;
    height: 100%; }
    .navBar .navBar-Right img {
      margin-right: 17px; }

#main {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #16222e; }
  #main .contactOptions {
    display: flex;
    flex: 3;
    height: 100%; }
    #main .contactOptions .sideBar {
      height: 100%;
      background-color: #0d181e; }
      #main .contactOptions .sideBar img {
        padding: 5px 10px 0 10px;
        display: block; }
        #main .contactOptions .sideBar img:nth-child(3) {
          margin-bottom: 45px; }
    #main .contactOptions .friendsList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex: 1;
      height: 100%;
      background-color: #16222e; }
      #main .contactOptions .friendsList .search {
        padding-right: 25px;
        display: flex;
        justify-content: space-between;
        margin: 5px 10px 10px 10px;
        width: 100%; }
        #main .contactOptions .friendsList .search img:nth-child(1) {
          padding-right: 70%;
          padding-top: 1px;
          border-bottom: 1px solid #63c3cf; }
      #main .contactOptions .friendsList .friend {
        padding: 5px 10px 0 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%; }
        #main .contactOptions .friendsList .friend p {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 10px;
          height: 100%;
          font-size: .9rem;
          font-weight: 300;
          color: #63c3cf; }
      #main .contactOptions .friendsList .configBoxContainer {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 100%; }
        #main .contactOptions .friendsList .configBoxContainer .configBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 91px;
          background-color: #1f303a; }
          #main .contactOptions .friendsList .configBoxContainer .configBox img:nth-child(2) {
            margin-right: 10px; }
  #main .chatBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 5;
    background-color: #1f303a; }
    #main .chatBox .screenChat {
      flex: 1;
      width: 100%;
      background-image: url("../icons/mascot.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto;
      background-color: #1f303a; }
    #main .chatBox .inputChatContainer {
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 91px;
      background-color: #16222e; }
      #main .chatBox .inputChatContainer img {
        margin: 0 2px; }
      #main .chatBox .inputChatContainer .inputChat {
        margin: 0 2px;
        padding: 0 6px;
        border: none;
        border-radius: 12px;
        flex: 1;
        height: 54px;
        color: #63c3cf;
        background-color: #1f303a; }
  #main .emptyBox {
    flex: 2;
    background-color: #0d181e; }

/*# sourceMappingURL=style.css.map */
